html,
body {
  min-width:200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.fullWidth {
  width:100%
}

.margin-small {
  margin-top: 10px
}

.row {
  margin: 15px;
}


#degree-range {
  width: 100%;
}

.container-inline-row {
  display: flex;
}

.div-degree-title {
  width:fit-content;
  white-space: nowrap;
  padding: 5px;
}

.div-degree-display {
  text-align: end;
}

.input-number {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  background-color: #eee;
  padding: 5px;
  text-align: end;
  border-radius: 5px;
  width: fit-content;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number:focus {
  outline: none;
}


.btn-degree {
  border-radius: 5px;
  padding:5px
}

.flex-gap *:not(:last-child) {
  margin-right: 10px;
}
